html {
  height: auto;
  min-height: 100%;
  background-image: url('../assets/terminator.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color:rgba(51, 51, 51, 0.87);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(143, 143, 143);
    padding: 10px;
  }

.container {
    margin: 0 auto;
    max-width: 80%;
    padding: 10px;
    background-color:rgba(51, 51, 51, 0.87);
}

td {
  color: white;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 200px;
}

.blog-post {
    margin-bottom: 30px;
}

.blog-post h1 {
    font-family: "Courier New", Courier, monospace; /* vintage font for headings */
    font-size: 24px;
    color: #d4af37; /* brass color for headings */
    margin-bottom: 10px;
}

.blog-post p {
    font-family: "Verdana", Verdana, monospace; /* vintage font for body text */
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.blog-roll {
    margin-top: 30px;
}

.blog-roll h2 {
    font-family: "Courier New", Courier, monospace; /* vintage font for headings */
    font-size: 18px;
    color: #d4af37; /* brass color for headings */
    margin-bottom: 10px;
}

.blog-roll ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-roll li {
    margin-bottom: 10px;
}

.blog-roll li a {
    color: #333;
    text-decoration: none;
}

.blog-roll li a:hover {
    text-decoration: underline;
}

.search-bar {
    margin-top: 30px;
    padding: 10px;
    background-color: #333; /* dark background for search bar */
    border-radius: 5px;
}
.search-bar input {
    width: 70%;
    padding: 10px;
}



pre {
    background-color: rgb(51, 51, 51);
    color: rgb(206, 206, 206);
    border-radius: 5px;
    padding: 10px;
}

code {
    background-color: rgb(51, 51, 51);
    color: rgb(206, 206, 206);
    border-radius: 5px;
    padding: 10px;
}

/* Set the background color of the navigation bar to a dark bronze */
.navbar {
    background-color: rgb(47, 47, 47);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 140px;
  }
  
  
  /* Use a decorative font for the title of the navigation bar */
  .navbar h2 {
    color: #e6e2d3;
    font-family: "Brass Instruments", sans-serif;
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 10px;
    text-align: left;
  }
  
  /* Use flexbox to make the list items in the navigation bar stretch to fill the available space */
  .navbar ul {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Style the list items in the navigation bar */
  .navbar li {
    color: #e6e2d3;
    list-style:none;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
  }
  
  /* Style the links in the navigation bar */
  .navbar a {
    color: #a8a8a8;
    display: block;
    text-decoration: none;
  }
  
  /* Style the links when they are hovered over */
  .navbar a:hover {
    color: #fff;
  }

  
  /* Set different icons for each link in the navigation bar */
  .navbar li:nth-child(1) a::before {
    height: 16px;
    width: 16px;
    margin-right: 10px;
    position: absolute;
    left: 10px;
  }
  
  .navbar li:nth-child(2) a::before {
    height: 16px;
    width: 16px;
    /* Position the icon to the left of the link text */
    margin-right: 10px;
    position: absolute;
    left: 10px;
  }

  .navbar li:nth-child(3) a::before {
    height: 16px;
    width: 16px;
    /* Position the icon to the left of the link text */
    margin-right: 10px;
    position: absolute;
    left: 10px;
  }

  .navbar li:nth-child(4) a::before {
    height: 16px;
    width: 16px;
    /* Position the icon to the left of the link text */
    margin-right: 10px;
    position: absolute;
    left: 10px;
  }
  
  #mods {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: table;
  }
  
  #mods td, #mods th {
    padding-top: 9px;
    padding-bottom:9px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  
  #mods th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: gray;
  }

  .btn {
    background-color: rgb(94, 94, 94);
    border: none;
    color: white;
    padding: 7px 8px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  #btn {
    background-color: rgb(94, 94, 94);
    border: none;
    color: white;
    padding: 7px 8px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
  }

  #btn:hover {
    background-color: rgb(73, 73, 73);
  }

  .btn:hover {
    background-color: rgb(73, 73, 73);
  }
  

  #myInput {
    background-position: 10px 10px;
    font-size: 15px;
    padding: 6px;
    border:none;
    margin-bottom: 17px;
    border-radius: 5px;
    background-color:rgb(65, 65, 65);
  }

  input:focus {
    outline: none;
  }
  
  .dropbtn {
    background-color: rgb(94, 94, 94);
    color: white;
    padding: 7px 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #797979;
    min-width: 100px;
    border-radius: 5px;
    color: white;
  }
  
  .dropdown-content a {
    color: white;
    padding: 7px 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #696969;     border-radius: 5px;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #464646;
  }

.side {
  display: flex;
  position: absolute;
  box-shadow: 0px 0px 7px #696969;
  border-radius: 50%;
}

.side-text {
  display: flex;
  position: absolute;
}

.button.is-small {
  font-size: .75rem;
}
.button.is-link {
  background-color: #485fc7;
  border-color: transparent;
  color: #fff;
}
.button,.button:hover {
  color:  #ffde1a;
}
.button {
  outline: none!important;
  box-shadow: none!important;
  outline-style: none!important;
  background-color: var(--foregroundItem);
  transition: color var(--transitionTime);
}
.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
}

.hidden {
  display: none;
  }

  @keyframes slide-in-left {
  from {
      transform: translateX(-20%);
  }
  to {
      transform: translateX(0);
  }
  }

  @keyframes slide-out-left {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
  }

  .row-slide-out {
  animation: slide-out-left 0.5s ease-out;
  animation-direction: reverse;
  }



  .left-slide-in {
  animation: slide-in-left 0.5s ease-out;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }


  